*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Inter", sans-serif; }

.container {
  padding: 10vw 8vw;
  background: #1e202a;
  color: white; }

header {
  padding-bottom: 2.5rem; }
  header .title h1 {
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 0.5rem; }
  header .title h5 {
    font-size: 0.9rem;
    color: #8b97c6; }
  header hr {
    margin: 1.5rem 0;
    color: #8b97c6;
    border: 1px solid #8b97c62e; }
  header .slider {
    display: flex;
    align-items: center; }
    header .slider h5 {
      color: #8b97c6;
      font-size: 0.9rem; }
    header .slider .switch {
      position: relative;
      display: inline-block;
      width: 3.7rem;
      height: 1.9rem;
      margin-left: auto; }
      header .slider .switch input {
        visibility: hidden; }
      header .slider .switch .slider {
        position: absolute;
        cursor: pointer;
        border-radius: 34px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, #378fe6, #3eda82);
        -webkit-transition: 0.4s;
        transition: 0.4s; }
        header .slider .switch .slider::before {
          position: absolute;
          content: "";
          height: 1.5rem;
          width: 1.5rem;
          left: 4px;
          bottom: 3px;
          border-radius: 50%;
          background-color: #1e202a;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
      header .slider .switch .light {
        background: #8b97c6; }
      header .slider .switch input:checked + .slider:before {
        -webkit-transform: translateX(1.7rem);
        -ms-transform: translateX(1.7rem);
        transform: translateX(1.7rem); }
