//Breakpoints
$bp-mobile: 375px;
$bp-desktop: 1400px;

//Colors
$color-green: hsl(163, 72%, 41%);
$color-red: hsl(356, 69%, 56%);
$color-white: hsl(0, 0%, 100%);
$color-fb: hsl(195, 100%, 50%);
$color-ig: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$color-twitter: hsl(203, 89%, 53%);

//Dark theme colors
$color-dark-toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
$color-dark-bg: hsl(230, 17%, 14%);
$color-dark-top-bg: hsl(232, 19%, 15%);
$color-dark-card-bg: hsl(228, 28%, 20%);
$color-dark-text-blue: hsl(228, 34%, 66%);

//Light theme colors
$color-light-toggle: hsl(230, 22%, 74%);
$color-light-top-bg: hsl(225, 100%, 98%);
$color-light-card-bg: hsl(227, 47%, 96%);
$color-light-gray-blue: hsl(228, 12%, 44%);
$color-light-dark-blue: hsl(228, 12%, 44%);

//RESET CSS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  padding: 10vw 8vw;
  background: $color-dark-bg;
  color: $color-white;
}

header {
  padding-bottom: 2.5rem;
  .title {
    h1 {
      margin: 0;
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }

    h5 {
      font-size: 0.9rem;
      color: $color-dark-text-blue;
    }
  }

  hr {
    margin: 1.5rem 0;
    color: $color-dark-text-blue;
    border: 1px solid #8b97c62e;
  }

  .slider {
    display: flex;
    align-items: center;

    h5 {
      color: $color-dark-text-blue;
      font-size: 0.9rem;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 3.7rem;
      height: 1.9rem;
      margin-left: auto;

      input {
        visibility: hidden;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        border-radius: 34px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          to right,
          hsl(210, 78%, 56%),
          hsl(146, 68%, 55%)
        );
        -webkit-transition: 0.4s;
        transition: 0.4s;

        //circle
        &::before {
          position: absolute;
          content: "";
          height: 1.5rem;
          width: 1.5rem;
          left: 4px;
          bottom: 3px;
          border-radius: 50%;
          background-color: $color-dark-bg;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
      }

      //light theme background on slider
      .light {
        background: $color-dark-text-blue;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(1.7rem);
        -ms-transform: translateX(1.7rem);
        transform: translateX(1.7rem);
      }
    }
  }
}

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }
// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
